<a href="https://colab.research.google.com/github/enggrobin/PythonProjects/blob/master/DeepLearning_Keras_API_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving lending_club_loan_two1.csv to lending_club_loan_two1.csv
User uploaded file "lending_club_loan_two1.csv" with length 23187883 bytes

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
df = pd.read_csv("lending_club_loan_two1.csv")

In [11]:
df.head()

   loan_amnt  ...                                          address
0      10000  ...     0174 Michelle Gateway\nMendozaberg, OK 22690
1       8000  ...  1076 Carney Fort Apt. 347\nLoganmouth, SD 05113
2      15600  ...  87025 Mark Dale Apt. 269\nNew Sabrina, WV 05113
3       7200  ...            823 Reid Ford\nDelacruzside, MA 00813
4      24375  ...             679 Luna Roads\nGreggshire, VA 11650

[5 rows x 27 columns]

In [2]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving lending_club_info.csv to lending_club_info.csv
User uploaded file "lending_club_info.csv" with length 2432 bytes

In [0]:
dfinfo = pd.read_csv("lending_club_info.csv",index_col="LoanStatNew")

In [15]:
dfinfo.head(10)

                                                      Description
LoanStatNew
loan_amnt       The listed amount of the loan applied for by t...
term            The number of payments on the loan. Values are...
int_rate                                Interest Rate on the loan
installment     The monthly payment owed by the borrower if th...
grade                                      LC assigned loan grade
sub_grade                               LC assigned loan subgrade
emp_title       The job title supplied by the Borrower when ap...
emp_length      Employment length in years. Possible values ar...
home_ownership  The home ownership status provided by the borr...
annual_inc      The self-reported annual income provided by th...

In [0]:
def get_desc(col_name):
  return dfinfo.loc[col_name]["Description"]

In [26]:
# Checking the main data :
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99973 entries, 0 to 99972
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   loan_amnt             99973 non-null  int64
 1   term                  99973 non-null  object
 2   int_rate              99973 non-null  float64
 3   installment           99973 non-null  float64
 4   grade                 99973 non-null  object
 5   sub_grade             99973 non-null  object
 6   emp_title             94261 non-null  object
 7   emp_length            95388 non-null  object
 8   home_ownership        99973 non-null  object
 9   annual_inc            99973 non-null  float64
 10  verification_status   99973 non-null  object
 11  issue_d               99973 non-null  object
 12  loan_status           99973 non-null  object
 13  purpose               99973 non-null  object
 14  title                 99534 non-null  object
 15  dti                   99973 non-null  float64
 16  earliest_cr_line      99973 non-null  object
 17  open_acc              99973 non-null  int64
 18  pub_rec               99973 non-null  int64
 19  revol_bal             99973 non-null  int64
 20  revol_util            99901 non-null  float64
 21  total_acc             99973 non-null  int64
 22  initial_list_status   99973 non-null  object
 23  application_type      99973 non-null  object
 24  mort_acc              90520 non-null  float64
 25  pub_rec_bankruptcies  99850 non-null  float64
 26  address               99973 non-null  object
dtypes: float64(7), int64(5), object(15)
memory usage: 20.6+ MB

In [28]:
df["loan_status"].value_counts()

Fully Paid     80414
Charged Off    19559
Name: loan_status, dtype: int64

In [29]:
df.describe()

          loan_amnt      int_rate  ...      mort_acc  pub_rec_bankruptcies
count  99973.000000  99973.000000  ...  90520.000000          99850.000000
mean   14124.454853     13.642643  ...      1.816195              0.121582
std     8380.101801      4.462393  ...      2.144664              0.356640
min      500.000000      5.320000  ...      0.000000              0.000000
25%     8000.000000     10.490000  ...      0.000000              0.000000
50%    12000.000000     13.330000  ...      1.000000              0.000000
75%    20000.000000     16.490000  ...      3.000000              0.000000
max    40000.000000     30.990000  ...     34.000000              7.000000

[8 rows x 12 columns]

In [30]:
df.isnull().sum()

loan_amnt                  0
term                       0
int_rate                   0
installment                0
grade                      0
sub_grade                  0
emp_title               5712
emp_length              4585
home_ownership             0
annual_inc                 0
verification_status        0
issue_d                    0
loan_status                0
purpose                    0
title                    439
dti                        0
earliest_cr_line           0
open_acc                   0
pub_rec                    0
revol_bal                  0
revol_util                72
total_acc                  0
initial_list_status        0
application_type           0
mort_acc                9453
pub_rec_bankruptcies     123
address                    0
dtype: int64

In [31]:
df.shape

(99973, 27)

In [0]:
#Exploratory Data Analysis