<a href="https://colab.research.google.com/github/enggrobin/PythonProjects/blob/master/Part_A_Build_a_Regression_Model_in_Keras.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving concrete_data.csv to concrete_data.csv
User uploaded file "concrete_data.csv" with length 58988 bytes

In [0]:
#imorting the data
df = pd.read_csv("concrete_data.csv")

In [4]:
df.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Fine Aggregate  Age  Strength
0   540.0                 0.0      0.0  ...           676.0   28     79.99
1   540.0                 0.0      0.0  ...           676.0   28     61.89
2   332.5               142.5      0.0  ...           594.0  270     40.27
3   332.5               142.5      0.0  ...           594.0  365     41.05
4   198.6               132.4      0.0  ...           825.5  360     44.30

[5 rows x 9 columns]

In [5]:
#checking missing data
df.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [6]:
df.describe()

            Cement  Blast Furnace Slag  ...          Age     Strength
count  1030.000000         1030.000000  ...  1030.000000  1030.000000
mean    281.167864           73.895825  ...    45.662136    35.817961
std     104.506364           86.279342  ...    63.169912    16.705742
min     102.000000            0.000000  ...     1.000000     2.330000
25%     192.375000            0.000000  ...     7.000000    23.710000
50%     272.900000           22.000000  ...    28.000000    34.445000
75%     350.000000          142.950000  ...    56.000000    46.135000
max     540.000000          359.400000  ...   365.000000    82.600000

[8 rows x 9 columns]

In [0]:
#Get values of Predictor(X) and Target(Y) variables :

X = df.drop("Strength",axis=1) #Predictor
Y = df["Strength"] #Target
n_cols = X.shape[1] # number of predictors

In [0]:
# Splitting data into the train and test split
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

In [0]:
# Build a deep learning regression model

from keras.models import Sequential
from keras.layers import Dense

model = Sequential()
model.add(Dense(10,activation="relu",input_shape=(n_cols,)))
model.add(Dense(1))

# Compile the model
model.compile(optimizer="adam",loss="mean_squared_error")

In [27]:
#fit dataset into the model 

model.fit(X_train,y_train,epochs=50)

Epoch 1/50
721/721 [==============================] - 0s 37us/step - loss: 102.3951
Epoch 2/50
721/721 [==============================] - 0s 33us/step - loss: 102.3583
Epoch 3/50
721/721 [==============================] - 0s 32us/step - loss: 106.8567
Epoch 4/50
721/721 [==============================] - 0s 31us/step - loss: 100.8481
Epoch 5/50
721/721 [==============================] - 0s 32us/step - loss: 101.4598
Epoch 6/50
721/721 [==============================] - 0s 31us/step - loss: 100.9888
Epoch 7/50
721/721 [==============================] - 0s 32us/step - loss: 102.6653
Epoch 8/50
721/721 [==============================] - 0s 31us/step - loss: 99.4916
Epoch 9/50
721/721 [==============================] - 0s 32us/step - loss: 100.9018
Epoch 10/50
721/721 [==============================] - 0s 30us/step - loss: 100.5802
Epoch 11/50
721/721 [==============================] - 0s 33us/step - loss: 99.4200
Epoch 12/50
721/721 [==============================] - 0s 32us/step - loss: 100.3205
Epoch 13/50
721/721 [==============================] - 0s 32us/step - loss: 100.0327
Epoch 14/50
721/721 [==============================] - 0s 32us/step - loss: 102.4465
Epoch 15/50
721/721 [==============================] - 0s 33us/step - loss: 97.5480
Epoch 16/50
721/721 [==============================] - 0s 32us/step - loss: 98.0529
Epoch 17/50
721/721 [==============================] - 0s 38us/step - loss: 97.0872
Epoch 18/50
721/721 [==============================] - 0s 37us/step - loss: 97.2911
Epoch 19/50
721/721 [==============================] - 0s 36us/step - loss: 95.3188
Epoch 20/50
721/721 [==============================] - 0s 40us/step - loss: 94.3995
Epoch 21/50
721/721 [==============================] - 0s 30us/step - loss: 94.5603
Epoch 22/50
721/721 [==============================] - 0s 31us/step - loss: 94.3097
Epoch 23/50
721/721 [==============================] - 0s 31us/step - loss: 94.3883
Epoch 24/50
721/721 [==============================] - 0s 32us/step - loss: 94.0962
Epoch 25/50
721/721 [==============================] - 0s 31us/step - loss: 92.7180
Epoch 26/50
721/721 [==============================] - 0s 33us/step - loss: 93.0657
Epoch 27/50
721/721 [==============================] - 0s 31us/step - loss: 91.1887
Epoch 28/50
721/721 [==============================] - 0s 32us/step - loss: 91.3428
Epoch 29/50
721/721 [==============================] - 0s 33us/step - loss: 90.5275
Epoch 30/50
721/721 [==============================] - 0s 31us/step - loss: 88.4015
Epoch 31/50
721/721 [==============================] - 0s 32us/step - loss: 89.2766
Epoch 32/50
721/721 [==============================] - 0s 34us/step - loss: 92.1840
Epoch 33/50
721/721 [==============================] - 0s 31us/step - loss: 89.3521
Epoch 34/50
721/721 [==============================] - 0s 32us/step - loss: 87.9047
Epoch 35/50
721/721 [==============================] - 0s 33us/step - loss: 86.3247
Epoch 36/50
721/721 [==============================] - 0s 33us/step - loss: 90.6983
Epoch 37/50
721/721 [==============================] - 0s 34us/step - loss: 91.2891
Epoch 38/50
721/721 [==============================] - 0s 31us/step - loss: 86.3437
Epoch 39/50
721/721 [==============================] - 0s 32us/step - loss: 85.4018
Epoch 40/50
721/721 [==============================] - 0s 35us/step - loss: 85.0635
Epoch 41/50
721/721 [==============================] - 0s 33us/step - loss: 85.8609
Epoch 42/50
721/721 [==============================] - 0s 32us/step - loss: 79.5514
Epoch 43/50
721/721 [==============================] - 0s 34us/step - loss: 78.6700
Epoch 44/50
721/721 [==============================] - 0s 33us/step - loss: 78.4486
Epoch 45/50
721/721 [==============================] - 0s 31us/step - loss: 77.2096
Epoch 46/50
721/721 [==============================] - 0s 31us/step - loss: 81.5445
Epoch 47/50
721/721 [==============================] - 0s 31us/step - loss: 79.6773
Epoch 48/50
721/721 [==============================] - 0s 35us/step - loss: 80.7561
Epoch 49/50
721/721 [==============================] - 0s 38us/step - loss: 77.4191
Epoch 50/50
721/721 [==============================] - 0s 37us/step - loss: 75.2212

In [0]:
#3. Evaluate the model on the test data

y_pred = model.predict(X_test)

In [39]:
# compute the mean squared error between the predicted concrete strength and the actual concrete strength
from sklearn.metrics import mean_squared_error

mean_squared_err  = mean_squared_error(y_test,y_pred)

#5. Report the mean and the standard deviation of the mean squared errors.

mean_err = np.mean(mean_squared_err)
std_err  = np.std(mean_squared_err)
print(mean_err)
print(std_err)

77.5962482404451
0.0

In [37]:
#4. Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.

77.5962482404451